<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
	<meta charset="ISO-8859-1"> 
	<!--title here is what will show up on the tab of the browser, like the name of the app or so -->
    <title>Branch Management System</title>
	<!-- cross origin at end needs to be anonymous? im guessing this pulls in the relevant information online-->
    <link rel="stylesheet" 
    	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
    	crossorigin="anonymous">

</head>
<body>
    
    <div align= "center" class="container">
        <h1>Branch Management System</h1>
        <a  th:href="@{/branch}" class="btn btn-primary btn-sm mb-3"> Enter Branch System </a>
    </div>

    <footer ></footer>
</body>
</html>